<template name="passwordRecovery">
    
    <div id="page-content" class="header-clear" style="transition: all 500ms ease; min-height: 724px;">
    <a href="#" class="page-login-logo"><img class="preload-image" data-original="images/preload-logo.png" src="images/preload-logo.png" style="display: block;"></a>
{{#if resetPassword}}
     <form id="new-password" action="action" class="page-login content full-bottom">
        <div>
            <div class="page-login-input">
                <i class="login-icon ion-android-lock"></i>
                <input id="new-password-password" type="password" value="password" onfocus="if (this.value=='password') this.value = ''" onblur="if (this.value=='') this.value = 'password'" />
            </div>   
           <input type="submit" value="Change Password" class="button button-green button-icon button-full half-top full-bottom"/>
        </div>
        <div class="decoration"></div>
         <a href="/sign-in" class="button button-blue button-icon button-full half-top full-bottom"><i class="ion-person"></i>Login Here</a>
      </form>
  {{else}}
      <form id="recovery-form" action="action" class="page-login content full-bottom">
        <div>
            <div class="page-login-input">
                <i class="login-icon ion-person"></i>
                <input type="text" id="recovery-email" value="Email" onfocus="if (this.value=='Email') this.value = ''" onblur="if (this.value=='') this.value = 'Email'"/>   
            </div>  
           <input type="submit" value="Send Reset Instructions" class="button button-green button-icon button-full half-top full-bottom"/>
         </div>
          <div class="decoration"></div>
          <a href="/sign-in" class="button button-blue button-icon button-full half-top full-bottom"><i class="ion-person"></i>Login Here</a>
      </form>
  {{/if}}
        
     </div>
    
</template>


  