<template name="header">
  <div id="header">
    <a href="#" class="open-left-sidebar left-menu-bar"><i class="ion-navicon left-sidebar-trigger"></i></a>
    <a href="#" class="open-left-sidebar-back left-menu-arrow" style=" font-size: 1.25em; "><i class="ion-ios-arrow-thin-left left-sidebar-trigger-back"></i></a>
    <a href="/" class="page-logo"></a>
    <!-- <a class="open-right-sidebar"><i class="ion-ios-more right-sidebar-trigger"></i></a> -->
    <a href="#" class="save" style="display:none;"><i class="fa fa-save"></i></a>
    <a href="#" class="save" style="display:none;"><i class="fa fa-pencil"></i></a>
</div>
</template>
